In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv(r"C:\Users\Raheb\Desktop\editted.csv")

In [36]:
print(df.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
Length: 67, dtype: object

In [37]:
df.shape

(266, 67)

In [38]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              266
                 ...
2018               27
2019               27
2020               27
2021              266
2022              266
Length: 67, dtype: int64

In [39]:
# Check for missing values in columns from 1960 to 2022
missing_values_1960_to_2022 = df.loc[:, '1960':'2022'].isnull().sum()
print("Missing Values in Columns 1960 to 2022:\n", missing_values_1960_to_2022)

Missing Values in Columns 1960 to 2022:
 1960    266
1961    266
1962    266
1963    266
1964    266
       ...
2018     27
2019     27
2020     27
2021    266
2022    266
Length: 63, dtype: int64

In [40]:
# Drop columns from '1960' to '1989' manually
columns_to_drop = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
                   '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
                   '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '2021','2022']
df.drop(columns=columns_to_drop, inplace=True)

# Confirm the columns have been dropped
print("Columns after dropping '1960' to '1989':\n", df.columns)

Columns after dropping '1960' to '1989':
 Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020'],
      dtype='object')

In [41]:
df.shape

(266, 35)

In [42]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Country Name       0
Country Code       0
Indicator Name     0
Indicator Code     0
1990              28
1991              27
1992              27
1993              27
1994              27
1995              27
1996              27
1997              27
1998              27
1999              27
2000              27
2001              27
2002              27
2003              27
2004              27
2005              27
2006              27
2007              27
2008              27
2009              27
2010              27
2011              27
2012              27
2013              27
2014              27
2015              27
2016              27
2017              27
2018              27
2019              27
2020              27
dtype: int64

In [43]:
# Drop rows with missing values
df.dropna(inplace=True)

# Check the shape of the cleaned dataset
print("Shape after dropping missing values:", df.shape)

Shape after dropping missing values: (238, 35)

In [44]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1990              0
1991              0
1992              0
1993              0
1994              0
1995              0
1996              0
1997              0
1998              0
1999              0
2000              0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
dtype: int64

In [46]:
df.shape

(238, 35)

In [72]:
# Define the file path where you want to save the CSV file
output_file_path = "clean_carbon_emission_data3.csv"

# Save the DataFrame to a CSV file
df.to_csv(output_file_path, index=True)

print("CSV file saved successfully at:", output_file_path)

CSV file saved successfully at: clean_carbon_emission_data3.csv

In [50]:
df["Country Name"]

1      Africa Eastern and Southern
2                      Afghanistan
3       Africa Western and Central
4                           Angola
5                          Albania
                  ...
260                          Samoa
262                    Yemen, Rep.
263                   South Africa
264                         Zambia
265                       Zimbabwe
Name: Country Name, Length: 238, dtype: object

In [66]:
# Manually map countries to continents
country_to_continent = {
   "Africa Eastern and Southern": "Africa",
    "Afghanistan": "Asia",
    "Africa Western and Central": "Africa",
    "Angola": "Africa",
    "Albania": "Europe",
    "Andorra": "Europe",
    "Arab World": "Asia",
    "United Arab Emirates": "Asia",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Antigua and Barbuda": "North America",
    "Australia": "Oceania",
    "Austria": "Europe",
    "Azerbaijan": "Asia",
    "Burundi": "Africa",
    "Belgium": "Europe",
    "Benin": "Africa",
    "Burkina Faso": "Africa",
    "Bangladesh": "Asia",
    "Bulgaria": "Europe",
    "Bahrain": "Asia",
    "Bahamas, The": "North America",
    "Bosnia and Herzegovina": "Europe",
    "Belarus": "Europe",
    "Belize": "North America",
    "Bolivia": "South America",
    "Brazil": "South America",
    "Barbados": "North America",
    "Brunei Darussalam": "Asia",
    "Bhutan": "Asia",
    "Botswana": "Africa",
    "Central African Republic": "Africa",
    "Canada": "North America",
    "Central Europe and the Baltics": "Europe",
    "Switzerland": "Europe",
    "Chile": "South America",
    "China": "Asia",
    "Cote d'Ivoire": "Africa",
    "Cameroon": "Africa",
    "Congo, Dem. Rep.": "Africa",
    "Congo, Rep.": "Africa",
    "Colombia": "South America",
    "Comoros": "Africa",
    "Cabo Verde": "Africa",
    "Costa Rica": "North America",
    "Caribbean small states": "North America",
    "Cuba": "North America",
    "Cyprus": "Europe",
    "Czechia": "Europe",
    "Germany": "Europe",
    "Djibouti": "Africa",
    "Dominica": "North America",
    "Denmark": "Europe",
    "Dominican Republic": "North America",
    "Algeria": "Africa",
    "East Asia & Pacific (excluding high income)": "Asia",
    "Early-demographic dividend": "Asia",
    "East Asia & Pacific": "Asia",
    "Europe & Central Asia (excluding high income)": "Europe",
    "Europe & Central Asia": "Europe",
    "Ecuador": "South America",
    "Egypt, Arab Rep.": "Africa",
    "Euro area": "Europe",
    "Eritrea": "Africa",
    "Spain": "Europe",
    "Estonia": "Europe",
    "Ethiopia": "Africa",
    "European Union": "Europe",
    "Fragile and conflict affected situations": "Asia",
    "Finland": "Europe",
    "Fiji": "Oceania",
    "France": "Europe",
    "Micronesia, Fed. Sts.": "Oceania",
    "Gabon": "Africa",
    "United Kingdom": "Europe",
    "Georgia": "Europe",
    "Ghana": "Africa",
    "Guinea": "Africa",
    "Gambia, The": "Africa",
    "Guinea-Bissau": "Africa",
    "Equatorial Guinea": "Africa",
    "Greece": "Europe",
    "Grenada": "North America",
    "Guatemala": "North America",
    "Guyana": "South America",
    "High income": "Europe",
    "Honduras": "North America",
    "Heavily indebted poor countries (HIPC)": "Africa",
    "Croatia": "Europe",
    "Haiti": "North America",
    "Hungary": "Europe",
    "IBRD only": "Asia",
    "IDA & IBRD total": "Asia",
    "IDA total": "Asia",
    "IDA blend": "Asia",
    "Indonesia": "Asia",
    "IDA only": "Asia",
    "India": "Asia",
    "Ireland": "Europe",
    "Iran, Islamic Rep.": "Asia",
    "Iraq": "Asia",
    "Iceland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Jordan": "Asia",
    "Japan": "Asia",
    "Kazakhstan": "Asia",
    "Kenya": "Africa",
    "Kyrgyz Republic": "Asia",
    "Cambodia": "Asia",
    "Kiribati": "Oceania",
    "St. Kitts and Nevis": "North America",
    "Korea, Rep.": "Asia",
    "Kuwait": "Asia",
    "Latin America & Caribbean (excluding high income)": "South America",
    "Lao PDR": "Asia",
    "Lebanon": "Asia",
    "Liberia": "Africa",
    "Libya": "Africa",
    "St. Lucia": "North America",
    "Latin America & Caribbean": "South America",
    "Least developed countries: UN classification": "Africa",
    "Low income": "Africa",
    "Liechtenstein": "Europe",
    "Sri Lanka": "Asia",
    "Lower middle income": "Asia",
    "Low & middle income": "Asia",
    "Lesotho": "Africa",
    "Late-demographic dividend": "Asia",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Latvia": "Europe",
    "Morocco": "Africa",
    "Moldova": "Europe",
    "Madagascar": "Africa",
    "Maldives": "Asia",
    "Middle East & North Africa": "Asia",
    "Mexico": "North America",
    "Marshall Islands": "Oceania",
    "Middle income": "Asia",
    "North Macedonia": "Europe",
    "Mali": "Africa",
    "Malta": "Europe",
    "Myanmar": "Asia",
    "Middle East & North Africa (excluding high income)": "Asia",
    "Montenegro": "Europe",
    "Mongolia": "Asia",
    "Mozambique": "Africa",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "North America": "North America",
    "Niger": "Africa", "Nigeria": "Africa",
    "Nicaragua": "North America",
    "Netherlands": "Europe",
    "Norway": "Europe",
    "Nepal": "Asia",
    "Nauru": "Oceania",
    "New Zealand": "Oceania",
    "OECD members": "Europe",
    "Oman": "Asia",
    "Other small states": "Asia",
    "Pakistan": "Asia",
    "Panama": "North America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Palau": "Oceania",
    "Papua New Guinea": "Oceania",
    "Poland": "Europe",
    "Pre-demographic dividend": "Asia",
    "Korea, Dem. People's Rep.": "Asia",
    "Portugal": "Europe",
    "Paraguay": "South America",
    "Pacific island small states": "Oceania",
    "Post-demographic dividend": "Europe",
    "Qatar": "Asia",
    "Romania": "Europe",
    "Russian Federation": "Europe",
    "Rwanda": "Africa",
    "South Asia": "Asia",
    "Saudi Arabia": "Asia",
    "Sudan": "Africa",
    "Senegal": "Africa",
    "Singapore": "Asia",
    "Solomon Islands": "Oceania",
    "Sierra Leone": "Africa",
    "El Salvador": "North America",
    "Somalia": "Africa",
    "Serbia": "Europe",
    "Sub-Saharan Africa (excluding high income)": "Africa",
    "South Sudan": "Africa",
    "Sub-Saharan Africa": "Africa",
    "Sao Tome and Principe": "Africa",
    "Suriname": "South America",
    "Slovak Republic": "Europe",
    "Slovenia": "Europe",
    "Sweden": "Europe",
    "Eswatini": "Africa",
    "Seychelles": "Africa",
    "Syrian Arab Republic": "Asia",
    "Chad": "Africa",
    "East Asia & Pacific (IDA & IBRD countries)": "Asia",
    "Europe & Central Asia (IDA & IBRD countries)": "Europe",
    "Togo": "Africa",
    "Thailand": "Asia",
    "Tajikistan": "Asia",
    "Turkmenistan": "Asia",
    "Latin America & the Caribbean (IDA & IBRD countries)": "South America",
    "Timor-Leste": "Asia",
    "Middle East & North Africa (IDA & IBRD countries)": "Asia",
    "Tonga": "Oceania",
    "South Asia (IDA & IBRD)": "Asia",
    "Sub-Saharan Africa (IDA & IBRD countries)": "Africa",
    "Trinidad and Tobago": "North America",
    "Tunisia": "Africa",
    "Turkiye": "Europe",
    "Tuvalu": "Oceania",
    "Tanzania": "Africa",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "Upper middle income": "Asia",
    "Uruguay": "South America",
    "United States": "North America",
    "Uzbekistan": "Asia",
    "St. Vincent and the Grenadines": "North America",
    "Venezuela, RB": "South America",
    "Viet Nam": "Asia",
    "Vanuatu": "Oceania",
    "World": "Unknown",
    "Samoa": "Oceania",
    "Yemen, Rep.": "Asia",
    "South Africa": "Africa",
    "Zambia": "Africa",
    "Zimbabwe": "Africa"}

In [68]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', 'Continent'],
      dtype='object')

In [67]:
# Define a function to map countries to continents
def map_to_continent(country):
    return country_to_continent.get(country, "Unknown")

# Apply the mapping function to create a new column 'Continent'
df['Continent'] = df['Country Name'].apply(map_to_continent)

# Display the first few rows to verify the new column
print(df.head())

                  Country Name Country Code  \
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO
5                      Albania          ALB

                           Indicator Name  Indicator Code      1990      1991  \
1  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC  0.982975  0.942212
2  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC  0.191389  0.180674
3  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC  0.470111  0.521084
4  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC  0.554941  0.545807
5  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC  1.844035  1.261054

       1992      1993      1994      1995  ...      2012      2013      2014  \
1  0.907936  0.909550  0.913413  0.933001  ...  0.989585  1.001154  1.013758
2  0.126517  0.109106  0.096638  0.088781  ...  0.335061  0.298088  0.283692
3  0.558013  0.513859  0.462384  0.492656  ...  0.452101  0.481623  0.493505
4  0.544413  0.710961  0.839266  0.914265  ...  0.947583  1.031044  1.091497
5  0.689644  0.644008  0.649938  0.612055  ...  1.565921  1.656390  1.795712

       2015      2016      2017      2018      2019      2020  Continent
1  0.960430  0.941337  0.933874  0.921453  0.915294  0.795420     Africa
2  0.297972  0.268359  0.281196  0.299083  0.297564  0.223479       Asia
3  0.475577  0.479775  0.465166  0.475817  0.490837  0.463150     Africa
4  1.125185  1.012552  0.829723  0.755828  0.753638  0.592743     Africa
5  1.665219  1.590069  1.880557  1.854642  1.749462  1.544550     Europe

[5 rows x 36 columns]

In [58]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', 'Continent'],
      dtype='object')

In [71]:
df["Continent"].shape

(238,)